<header>
  <div class="navbar" style="">
    <ul class="nav-list">
      <li class="element">
        <a href="#">Login</a>
      </li>
      <li class="element">
        <a href="#" class="cart"><i class="fas fa-shopping-cart"></i>  My Digital Cart ( 0 )</a>
      </li>
      <li class="element">
        <a href="#"><span>Support <i class="fas fa-angle-down"></i></span></a>
        <ul class="menu-list">
          <li>
            <a href="#">Forum</a>
          </li>
          <li>
            <a href="#">Tickets</a>
          </li>
        </ul>
      </li>
      <li class="element">
        <a href="#">Help</a>
      </li>
    </ul>
  </div>
  <div class="jumbo">
    <ul class="list">
      <li class="element">
        <a href="#">All</a>
      </li>
      <li class="element">
        <a href="#">Mobile Phones</a>
      </li>
      <li class="element">
        <a href="#">Apparel</a>
      </li>
      <li class="element">
        <a href="#">Toys & Hobbies</a>
      </li>
      <li class="element">
        <a href="#">Computers & Networking</a>
      </li>
      <li class="element">
        <a href="#">Gaming</a>
      </li>
    </ul>
  </div>
</header>
