<app-header></app-header>
<div class="search-div">
    <input class="input-text" type="text" name="" value="" placeholder="Sku / Product Name..">
    <button class="button" type="submit" name="search-button"><i class="far fa-arrow-alt-circle-right"></i></button>
</div>
<section>
    <a href="#"><img src="/assets/techno.jpg" style="width:100%;" alt=""></a>
    <div class="row products">
        <a href="#">Trending Products</a>
    </div>
    <div class="row offers">
        <a href="#">Offers Zone</a>
    </div>
    <div class="row trending">
        <div class="title-bar">
            <div class="main-title">
                <h3><a href="#">Trending brands</a></h3>
            </div>
            <p>Subtitle</p>
        </div>
        <ul class="trending-list">
            <li class="element">
                <div class="card">
                    <a href="#"><img src="/assets/offers.png" alt="Offers"></a>
                </div>
            </li>
            <li class="element">
                <div class="card">
                    <a href="#"><img src="/assets/offers.png" alt="Offers"></a>
                </div>
            </li>
            <li class="element">
                <div class="card">
                    <a href="#"><img src="/assets/offers.png" alt="Offers"></a>
                </div>
            </li>
        </ul>
    </div>
    <div class="row categories">
        <a href="#">Categories Zone</a>
    </div>
</section>
<!--Mirar gearbest y aliexpress-->
<!--Footer-->
